@import url('https://fonts.cdnfonts.com/css/satoshi');

:root {
  --custom-white: #FFFFFF;
  --custom-light-grey: #F7F7F7;
  --custom-dark-grey: #969191;
  --custom-blue: #001EB9;
  --custom-dark: #162427;
}

body {
  font-family: 'Satoshi', sans-serif;
}

code {
  font-family: 'Satoshi', sans-serif;
}